:root {
	--primary-color-abs-dark: white;
	--primary-color-dark: #3D3D59;
	--secondary-color-dark: #4945FF;
	--thirdary-color-dark: #303048;
	--text-color-dark: #C0C0CF;
	--background-primary-color-dark: #181826;
	--background-secondary-color-dark: #212134;

	--primary-color-abs-light: black;
	--primary-color-light: #d1b48e;
	--secondary-color-light: #fc8712;
	--thirdary-color-light: #c7b69f;
	--text-color-light: #3b3024;
	--background-primary-color-light: #e0cebc;
	--background-secondary-color-light: #e0cbaf;


	--primary-color-abs: var(--primary-color-abs-dark);
	--primary-color: var(--primary-color-dark);
	--secondary-color: var(--secondary-color-dark);
	--thirdary-color: var(--thirdary-color-dark);
	--text-color: var(--text-color-dark);
	--background-primary-color: var(--background-primary-color-dark);
	--background-secondary-color: var(--background-secondary-color-dark);
}



body {
	height: 95vh;
	width: 95vw;
	background-color: var(--background-primary-color);
	color: var(--text-color);
	margin: min(2.5vw, 2.5vh);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin-left:2vw;
	margin-top:0vh;
}

div#top-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10%;
	width: 100%;
	margin-bottom:1vh;
	margin-top:1vh;
}

div.push-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	height: 100%;
	width: 33%;
	margin-bottom:1vh;
	margin-top:1vh;
}

div.push-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 33%;
	margin-bottom:1vh;
	margin-top:1vh;
}

div.push-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	height: 100%;
	width: 33%;
	margin-bottom:1vh;
	margin-top:1vh;
}

button#toggleDarkLight {
	transition: all 0.5s ease;
	margin-right: 0.5vw;
	color: var(--text-color);
	background-color: #00000000;
	border: None;
	font-size: 200%;
}

button#toggleDarkLight:hover {
	color: var(--primary-color-abs);
	text-shadow: 0 0 20px var(--primary-color);
}

button#powerUserMode {
	transition: all 0.5s ease;
	margin-left: 0.5vw;
	color: var(--text-color);
	background-color: #00000000;
	border: None;
	font-size: 200%;
}

button#powerUserMode:hover {
	color: var(--primary-color-abs);
	text-shadow: 0 0 20px var(--primary-color);
}



p.title {
	font-size: 5vh;
}


#page {
	height: 90%;
	width: 100%;
	display: grid;
	grid-template-rows: 51vh 32vh;
	grid-template-columns: 60vw 35vw;
	grid-gap: min(2vw, 2vh);
	transition: all 0.5s ease;
}

#page:has(#top-left-pane:hover) {
	transition: all 0.5s ease;
	grid-template-rows: 56vh 27vh;
	grid-template-columns: 70vw 25vw;
}

#page:has(#bottom-left-pane:hover) {
	transition: all 0.5s ease;
	grid-template-rows: 41.5vh 41.5vh;
	grid-template-columns: 70vw 25vw;
}
#page:has(#right-pane:hover) {
	transition: all 0.5s ease;
	grid-template-rows: 51vh 32vh;
	grid-template-columns: 47.5vw 47.5vw;
}



#top-left-pane {
	transition: all 0.5s ease;
	grid-area: 1 / 1 / 2 / 1;
	border: 2px solid var(--thirdary-color);
	border-radius: min(1.5vw,1.5vh);
	background-color: var(--background-secondary-color);
}

#top-left-pane:hover {
	border: 2px solid var(--primary-color);
	box-shadow: 0 0 20px var(--thirdary-color);
}

#bottom-left-pane {
	transition: all 0.5s ease;
	grid-area: 2 / 1 / 3 / 1;
	border: 2px solid var(--thirdary-color);
	border-radius: min(1.5vw,1.5vh);
	background-color: var(--background-secondary-color);
}

#bottom-left-pane:hover {
	border: 2px solid var(--primary-color);
	box-shadow: 0 0 20px var(--thirdary-color);
}

#right-pane {
	transition: all 0.5s ease;
	grid-area: 1 / 2 / 3 / 2;
	border: 2px solid var(--thirdary-color);
	border-radius: min(1.5vw,1.5vh);
	background-color: var(--background-secondary-color);
}

#right-pane:hover {
	border: 2px solid var(--primary-color);
	box-shadow: 0 0 20px var(--thirdary-color);
}


.title-pane {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4vh;
	width: 100%;
}

.title-pane-p {
	font-size: 2vh;
}

div#explore {
	overflow: hidden;
	margin-left:2.5%;
	margin-right:2.5%;
	width: 95%;
	height: 82%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 30% 70%;
	grid-gap: min(1vw, 1vh);
}

div#results {
	transition: all 0.5s ease;
	overflow: hidden;
	display: grid;
	grid-auto-rows: 6.6vh;
	font-size: 60%;
}

div#page:has(#top-left-pane:hover) div#results-pane div#results {
	transition: all 0.5s ease;
	grid-auto-rows: 7.5vh;
	font-size: 70%;
}

div#page:has(#bottom-left-pane:hover) div#results-pane div#results {
	transition: all 0.5s ease;
	grid-auto-rows: 5.1vh;
	font-size: 50%;
}


div#results-pane {
	border-right: 2px solid var(--primary-color);
	text-align: center;
	grid-area: 1 / 1 / 3 / 2;
}

input {
	margin: min(0.5vh, 0.5vw);
	width: 50%;
	transition: all 0.5s ease;
	color: var(--text-color);
	border: 2px solid #ccc;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	outline: none;
	transition: border-color 0.3s ease;
	background-color: #00000000;
	padding: 10px;
}

input:focus {
	border: 2px solid var(--secondary-color);
	transition: all 0.3s ease;
	box-shadow: 0 0 5px #FFFFFF;
	box-shadow: 0 0 20px var(--primary-color);
}

.divWrap {
	transition: all 0.4s ease;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.divWrap:hover {
	margin-left:10%;
	margin-right:10%;
	width: 80%;
	border-left: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-radius: 8px;

}

div#results {
	margin-right: 1vw;
}

div#results p {
	width: 80%;
}

div#results p:hover {
	color: var(--primary-color-abs);
	overflow: visible;
	transition: all 0.4s ease;
	text-shadow: 0 0 20px #FFFFFF;
	text-shadow: 0 0 20px var(--primary-color);
	padding: min(0.5vh, 0.5vw);
	transform: scale(1.1);
}


div#ls-pane {
	border-left: 2px solid var(--primary-color);
	text-align: center;
	grid-area: 1 / 2 / 3 / 3;
	display: grid;
	grid-template-rows: 95%;
	grid-template-columns: 50% 50%;
}

div#lsLeft {
	overflow: scroll;
	grid-area: 1 / 1 / 2 / 2;
	border-right: 2px solid var(--primary-color);
}

div#lsRightWrap {
	grid-area: 1 / 2 / 2 / 2;
}

div#lsRight {
	overflow: scroll;
	height: 100%;
}

div#ls::-webkit-scrollbar {
	display: none;
}

div#ls {
	transition: all 0.5s ease;
	overflow: scroll;
	display: grid;
	grid-auto-rows: 7vh;
	font-size: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

div#ls p {
	width: 80%;
	margin-left: 0%;
}

div#page:has(#top-left-pane:hover) div#ls-pane div#ls {
	transition: all 0.5s ease;
	grid-auto-rows: 8.5vh;
	font-size: 120%;
}

div#page:has(#bottom-left-pane:hover) div#ls-pane div#ls {
	transition: all 0.5s ease;
	grid-auto-rows: 4.2vh;
	font-size: 80%;
}

div#ls p:hover {
	color: var(--primary-color-abs);
	width: 80%;
	overflow: visible;
	transition: all 0.4s ease;
	text-shadow: 0 0 20px var(--primary-color);
	padding: min(0.5vh, 0.5vw);
	transform: scale(1.1);
}

div.ls2title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 80%;
	margin-left: 10%;
	color: var(--secondary-color);
	border: 2px solid var(--thirdary-color);
	border-radius: 15px;
	margin-bottom: 2%;
	font-size: 80%;
}


div#ls2 {
	transition: all 0.5s ease;
	overflow: scroll;
	display: grid;
	grid-auto-rows: 7vh;
	font-size: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

div#ls2 p {
	width: 80%;
}

div#page:has(#top-left-pane:hover) div#ls-pane div#ls2title {
	transition: all 0.5s ease;
	font-size: 120%;
	height: 10%;
}

div#page:has(#bottom-left-pane:hover) div#ls-pane div#ls2title {
	transition: all 0.5s ease;
	font-size: 70%;
	height: 8%;
}

div#page:has(#top-left-pane:hover) div#ls-pane div#ls2 {
	transition: all 0.5s ease;
	grid-auto-rows: 8.5vh;
	font-size: 120%;
}

div#page:has(#bottom-left-pane:hover) div#ls-pane div#ls2 {
	transition: all 0.5s ease;
	grid-auto-rows: 4.2vh;
	font-size: 80%;
}

div#ls2 p:hover {
	color: var(--primary-color-abs);
	width: 80%;
	overflow: visible;
	transition: all 0.4s ease;
	text-shadow: 0 0 20px #FFFFFF;
	text-shadow: 0 0 20px var(--primary-color);
	padding: min(0.5vh, 0.5vw);
	transform: scale(1.1);
}




div#myFiles {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

div#myFile-pane {
	display: grid;
	grid-template-rows: 80% 20%;
	grid-template-columns: 100%;
	width: 95%;
	height: 90%;
}

div#myFile-pane div.iframeWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

div#myFile-pane iframe {
	color: var(--text-color);
	border: 2px solid var(--thirdary-color);
	border-radius: 15px;
}

div#myFile-pane div.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--thirdary-color);
	margin-top: min(2vw, 2vh);
	border-radius: 15px;
}

div#myFile-pane div.actions button#downloadBtn {
	width: 5.5vw;
	padding: 1vw;
	color: var(--primary-color-abs);
	background-color: #00000000;
	background-color: var(--secondary-color);
	border: None;
	border-radius: 10px;
	font-size: 0.7vw;
	transition: all 0.5s ease;
}

div#myFile-pane div.actions button#downloadBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	width: 6.5vw;
	padding: 1.2vw;
	font-size: 0.8vw;

}

div#upload {
	transition: all 0.5s ease;
	width: 90%;
	margin-left: 5%;
	height: 78%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: min(2vw, 2vh);
}

div#dropFiles-pane {
	transition: all 0.5s ease;
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--thirdary-color);
	border-radius: 15px;
	margin-top: 2%;
}

div#dropZone {
	transition: all 0.5s ease;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#dropFiles-pane i {
	font-size: min(10vh,10vw);
}

div#searchFiles-pane {
	transition: all 0.5s ease;
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	justify-content: center;
	border: 2px solid var(--thirdary-color);
	border-radius: 15px;
	margin-top: 2%;
}

div#results-pane-upload {
	width: 100%;
	transition: all 0.5s ease;
	margin-top: 2%;
	display: grid;
	grid-template-columns: 50% 50%;

}

div#results-pane-upload div.left-pane-upload {
	grid-area: 1 / 1 / 2 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div#results-pane-upload div.left-pane-upload input {
	margin-bottom: 10%;
}

div#results-pane-upload div.left-pane-upload div.actions-pane-upload {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

div#results-pane-upload div.left-pane-upload button#cancelBtn {
	width: 4vw;
	margin-right: 5%;
	padding: 1vw;
	color: var(--primary-color-abs);
	background-color: red;
	border: None;
	border-radius: 10px;
	font-size: 0.7vw;
	transition: all 0.5s ease;
}

div#results-pane-upload div.left-pane-upload button#cancelBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	width: 5vw;
	padding: 1.2vw;
	font-size: 0.8vw;
}




div#results-pane-upload div.left-pane-upload button#uploadBtn {
	width: 4vw;
	margin-right: 5%;
	padding: 1vw;
	color: var(--primary-color-abs);
	background-color: var(--secondary-color);
	border: None;
	border-radius: 10px;
	font-size: 0.7vw;
	transition: all 0.5s ease;
}

div#results-pane-upload div.left-pane-upload button#uploadBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	width: 5vw;
	padding: 1.2vw;
	font-size: 0.8vw;
}

div#results-pane-upload div.right-pane-upload {
	grid-area: 1 / 2 / 2 / 3;
}

div#results-upload {
	width: 90%;
	transition: all 0.5s ease;
	overflow: hidden;
	display: grid;
	grid-auto-rows: 5.5vh;
	font-size: 50%;
}

div#results-upload p{
	margin-left: min(1vh, 1vw);
}

div#page:has(#bottom-left-pane:hover) div#results-pane-upload div#results-upload {
	transition: all 0.5s ease;
	grid-auto-rows: 7vh;
	font-size: 60%;
}

div#page:has(#top-left-pane:hover) div#results-pane-upload div#results-upload {
	transition: all 0.5s ease;
	grid-auto-rows: 4vh;
	font-size: 50%;
}



/* powermode */

div#syncToServer {
	overflow: hidden;
	margin-left:2.5%;
	margin-right:2.5%;
	width: 95%;
	height: 82%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 30% 70%;
	grid-gap: min(1vw, 1vh);
}

div#getArchive {
	transition: all 0.5s ease;
	width: 90%;
	margin-left: 5%;
	height: 78%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: min(2vw, 2vh);
}

div#myFolders {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}


div#folder-results {
	transition: all 0.5s ease;
	overflow: hidden;
	display: grid;
	grid-auto-rows: 6.6vh;
	font-size: 60%;
}

div#page:has(#top-left-pane:hover) div#folder-results-pane div#folder-results {
	transition: all 0.5s ease;
	grid-auto-rows: 7.5vh;
	font-size: 70%;
}

div#page:has(#bottom-left-pane:hover) div#folder-results-pane div#folder-results {
	transition: all 0.5s ease;
	grid-auto-rows: 5.1vh;
	font-size: 50%;
}


div#folder-results-pane {
	border-right: 2px solid var(--primary-color);
	text-align: center;
	grid-area: 1 / 1 / 3 / 2;
}

div#folder-results {
	margin-right: 1vw;
}

div#folder-results p {
	width: 80%;
}

div#folder-results p:hover {
	color: var(--primary-color-abs);
	overflow: visible;
	transition: all 0.4s ease;
	text-shadow: 0 0 20px #FFFFFF;
	text-shadow: 0 0 20px var(--primary-color);
	padding: min(0.5vh, 0.5vw);
	transform: scale(1.1);
}


div#folder-ls-pane {
	border-left: 2px solid var(--primary-color);
	text-align: center;
	grid-area: 1 / 2 / 3 / 3;
	display: grid;
	grid-template-rows: 95%;
	grid-template-columns: 50% 50%;
}

div#folder-selected {
	overflow: scroll;
	grid-area: 1 / 1 / 2 / 2;
	border-right: 2px solid var(--primary-color);
}

div#folder-actions {
	grid-area: 1 / 2 / 2 / 2;
}

div#folder-actions {
	overflow: scroll;
	height: 88%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

div#folder-selectedList::-webkit-scrollbar {
	display: none;
}

div#folder-selectedList{
	transition: all 0.5s ease;
	overflow: scroll;
	display: grid;
	grid-auto-rows: 7vh;
	font-size: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

div#folder-selectedList p {
	width: 80%;
	margin-left: 0%;
}

div#page:has(#top-left-pane:hover) div#folder-ls-pane div#folder-selectedList {
	transition: all 0.5s ease;
	grid-auto-rows: 8.5vh;
	font-size: 120%;
}

div#page:has(#bottom-left-pane:hover) div#folder-ls-pane div#folder-selectedList {
	transition: all 0.5s ease;
	grid-auto-rows: 4.2vh;
	font-size: 80%;
}

div#folder-selectedList p:hover {
	color: var(--primary-color-abs);
	width: 80%;
	overflow: visible;
	transition: all 0.4s ease;
	text-shadow: 0 0 20px var(--primary-color);
	padding: min(0.5vh, 0.5vw);
	transform: scale(1.1);
}

button#pushBtn {
	width: 10vw;
	margin: 2vh;
	padding: 2vw;
	color: var(--primary-color-abs);
	background-color: var(--secondary-color);
	border: None;
	border-radius: 10px;
	font-size: 1.2vw;
	transition: all 0.5s ease;
}

button#pushBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	width: 11vw;
	padding: 2.5vw;
	font-size: 1.5vw;
}

button#pullBtn {
	width: 10vw;
	margin: 2vh;
	padding: 2vw;
	color: var(--primary-color-abs);
	background-color: var(--thirdary-color);
	border: None;
	border-radius: 10px;
	font-size: 1.2vw;
	transition: all 0.5s ease;
}

button#pullBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	width: 11vw;
	padding: 2.5vw;
	font-size: 1.5vw;
}


div#getArchive {
	transition: all 0.5s ease;
	width: 90%;
	margin-left: 5%;
	height: 78%;
	display: grid;
	grid-template-columns: 80% 20%;
	grid-gap: min(2vw, 2vh);
}

div#archive-search-pane {
	grid-area: 1 / 1 / 2 / 2;
}

div.archive-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#get-archive {
	margin-top: 10%;
	grid-area: 1 / 2 / 2 / 3;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid var(--primary-color);
}

button#archiveBtn {
	height: 50%;
	width: 60%;
	margin: 2vh;
	padding: 5%;
	color: var(--primary-color-abs);
	background-color: var(--secondary-color);
	border: None;
	border-radius: 10px;
	font-size: 0.8vw;
	transition: all 0.5s ease;
}

button#archiveBtn:hover {
	box-shadow: 0 0 20px var(--primary-color);
	height: 55%;
	width: 70%;
	padding: 10%;
	font-size: 1vw;
}

div#archive-results {
	transition: all 0.5s ease;
	width: 90%;
	margin-right: 5%;
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 22% 22% 22% 22%;
	font-size: 0.8vh;
}

#page:has(#top-left-pane:hover) div#archive-results {
	transition: all 0.5s ease;
	font-size: 0.5vh;
	grid-template-rows: 20% 20% 20% 20%;
}

#page:has(#bottom-left-pane:hover) div#archive-results {
	transition: all 0.5s ease;
	font-size: 1.2vh;
}

div#myFolders {
	height: 90%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

div#myFolderWrap {
	height: 100%;
	width: 90%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 100%;
}

div#folderArchitecture {
	grid-area: 1 / 1;
	width: 100%;
	height: 100%;
}

div#serverOverView {
	grid-area: 2 / 1;
	width: 100%;
	height: 100%;
}


/* usefull properties */

.green {
	color: green;
}

.toArchive {
	color: green;
}


.defaultColor {
	color: var(--text-color);
}

.hidden {
	display: None;
	font-size: 0px;
	width: 0px;
	height: 0px;
}
