<!-- templates/explore.html -->

<div id="results-pane">
	<input type="text" id="search" placeholder="Search for your files"></input>
	<div id="results"></div>
</div>


<div id="ls-pane">

	<div id="lsLeft">
		<div id="ls"></div>
		<div id="lsActions">
			<button id="addFolderls"><i class="fa-solid fa-folder-plus"></i></button>
			<button class="hidden" id="closeInputFolder"><i class="fa-solid fa-xmark"></i></button>
			<p id="currentDirls" class="hidden"></p>
			<input class="hidden" type="text" id="dirNamels" placeholder="Directory name"></input>
		</div>
	</div>
	<div id="lsRightWrap">
		<div id="ls2title" class="ls2title"></div>
		<div id="lsRight">
			<div id="ls2"></div>
			<div id="ls2Actions">
				<button id="addFolderls2"><i class="fa-solid fa-folder-plus"></i></button>
				<button class="hidden" id="closeInputFolder2"><i class="fa-solid fa-xmark"></i></button>
				<p id="currentDirls2" class="hidden"></p>
				<input class="hidden" type="text" id="dirNamels2" placeholder="Directory name"></input>
				<button id="deleteDir2"><i class="fa-solid fa-trash"></i></button>
			</div>
		</div>
	</div>
</div>
