<!-- templates/myFile.html -->

<div id="myFile-pane">
	<div id="iframeWrapper" class="iframeWrapper">
		<!-- <div class="overlay iframeWrapper"> -->
		<iframe id="viewer" width="100%" height="100%"></iframe>
	</div>
	<div class="actions">
		<button id="downloadBtn"><i class="fa-solid fa-download"></i></button>
		<button id="deleteBtn"><i class="fa-solid fa-trash"></i></button>
		<button id="renameBtn"><i class="fa-solid fa-pen-to-square"></i></button>
		<div class="inputNameFile">
			<input class="hidden" type="text" id="newFileName" placeholder="New name"></input>
			<button class="hidden" id="closeInputName"><i class="fa-solid fa-xmark"></i></button>
		</div>
	</div>
</div>
