<!-- templates/index.html -->
{% extends "base.html" %}


{% block title %}Home Page{% endblock %}

{% block page%}
<div id="top-left-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			Sync to server
		</p>
	</div>
	<div id="syncToServer">
		{% include"sync_to_server.html" %}
	</div>
</div>
<div id="bottom-left-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			Get archive
		</p>
	</div>
	<div id="getArchive">
		{% include"get_archive.html" %}
	</div>
</div>
<div id="right-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			My Folders
		</p>
	</div>
	<div id="myFolders">
		{% include"my_folders.html" %}
	</div>

</div>
<script src="{{ url_for('static', filename='powerscript.js') }}"></script>
{% endblock %}
