<!-- templates/index.html -->
{% extends "base.html" %}


{% block title %}Home Page{% endblock %}

{% block page%}
<div id="top-left-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			Explore
		</p>
	</div>
	<div id="explore">
	</div>
</div>
<div id="bottom-left-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			Upload
		</p>
	</div>
	<div id="upload">
	</div>
</div>
<div id="right-pane">
	<div class="title-pane">
		<p class="title-pane-p">
			My File
		</p>
	</div>
	<div id="myFiles">
	</div>

</div>
<script src="{{ url_for('static', filename='powerscript.js') }}"></script>
{% endblock %}
